@font-face {
    font-family: RobotoFlex;
    src: url(./fonts/RobotoFlex-VariableFont_GRAD\,XOPQ\,XTRA\,YOPQ\,YTAS\,YTDE\,YTFI\,YTLC\,YTUC\,opsz\,slnt\,wdth\,wght.ttf);
}



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: linear-gradient(45deg,  #c1b9d3,  #8685a2) no-repeat fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-family: RobotoFlex, sans-serif;
}

.mp3-player-container{
    display: flex;
    justify-content: center;
    align-items: start;
    
}

.mp3-player{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 1px 1px 9px 0px #686470;
    z-index: 1;
}

.art-box{
    width: 350px;
    height: 350px;
    position: relative;
}

.list{
    position: absolute; 
    left:18.5rem;
    top:1.5rem;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 12%;
    height: 12%;
}

.list > svg{
    width: 22px;
    position: relative;
    z-index: 2;
    cursor: pointer;
}

.list:hover{
    background-color: #0f0f0f67;
}


.times{
    width: 350px;
    height: 30px;
    position: absolute;
    bottom: 0rem;
    z-index: 1;
    color: white;
    display: flex;
    justify-content: space-around;
    gap:10rem;
}

#volumen {
    width: 350px;
    height: 55px;
    position: absolute;
    bottom: 0rem;
    z-index: 1;
    opacity: 0.4;
}


.image{
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(0.6);
}

.controls-box{
    width: 350px;
    height: 210px;
    background-color: white;
}

.data{
    text-align: center;
    margin-block: 2.5rem;
    margin-inline: 1rem;
}

.title{
    font-size:x-large;
    margin-bottom: 0.5rem;
}

.artist{
    font-weight: 400;
    color:#74707c;
    font-size: small;
}

.controls{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}


.controls > svg {
    width: 1rem;
    cursor: pointer;
}


.disabled {
    opacity: 0.5;
    cursor: not-allowed !important; 
}

.status-box{
    width: 350px;
    height: 80px;
    background-color: #ececf3;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.status-box > p{
    color:  #411583;
    font-weight: 500;
    font-size: smaller;
    margin-inline: 5rem;
}

.bar{
    width: 350px;
    height: 10px;
    background-color: grey;
}

.progress-bar{
    width: 0px;
    height: 10px;
    background-color: #411583;
}

.playlist{
    width: 330px;
    height: 175px;
    margin-top: 5%;
    background-color:  #ececf3;
    box-shadow: 1px 1px 9px 0px #74707c;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform: translateX(-340px);
    transition: transform 0.5s ease; 
}

.songs{
    color: #74707c;
    font-size:medium;
}

ul{
    list-style: none;
}

li{
    padding-block: 0.4rem;
    border-bottom: 1px solid #d2d0d8;
    font-weight: 300;
    padding-inline: 0.3rem;
}

li:hover{
    background-color:#d2d0d8;
    color: black;
    cursor: pointer;
}

@media screen and (max-width: 700px) {
    
    .mp3-player-container{
        display: flex;
        flex-direction: column-reverse;
        justify-content:center;
        align-items: center;
        
    }

    .playlist {
        transform: translateY(340px);
        
    }
}