* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: linear-gradient(45deg,  #c1b9d3,  #8685a2) no-repeat fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.mp3-player-container{
    display: flex;
    justify-content: center;
    align-items: start;
    
}

.mp3-player{
    border: 2px solid black;
    background-color: antiquewhite;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.art-box{
    width: 350px;
    height: 350px;
    border: 2px solid black;
    background-color: rgb(90, 55, 10);
}

.controls-box{
    width: 350px;
    height: 250px;
    border: 2px solid black;
    background-color: rgb(171, 233, 238);
}

.status-box{
    width: 350px;
    height: 150px;
    border: 2px solid black;
    background-color: rgb(189, 138, 71);
}

.playlist{
    width: 275px;
    height: 275px;
    margin-top: 5%;
    border: 2px solid black;
    background-color: aqua;
}